// #region Main variables
$mainBgColor : #f8f9fa;
$mainTextColor : black;
$secondaryBgColor : white;
$secondaryTextColor : #1a1825;
$fontSize : 16px;
$fontFamily: -apple-system, Helvetica, sans-serif;
// #endregion
