<p-virtualScroller *ngIf="taskItems.length" [value]="taskItems" scrollHeight="250px" [itemSize]="70"
  styleClass="virtual-scroller">
  <ng-template pTemplate="header">
    <h3>List of things to do :</h3>
    <div class="p-text-center">
      <span>Validated</span>
      <p-knob *ngIf="validatedTask" [(ngModel)]="validatedTask" [size]="50" [readonly]="true" [min]="0"
        [max]="taskItems.length">
      </p-knob>
    </div>

  </ng-template>
  <ng-template pTemplate="item" let-taskItem>
    <div class="p-d-flex">
      <div class="p-inline-message p-shadow-1 p-text-left"
        [ngClass]="{'p-inline-message-success': taskItem.status , 'p-inline-message-warn': !taskItem.status}">
        <p-checkbox [(ngModel)]="taskItem.status" [binary]="true" inputId="binary" class="p-mr-2"></p-checkbox>
        <span [class.p-text-crossout]="taskItem.status" class="p-mr-2">{{taskItem.description}}</span>
        <p-tag styleClass="mr-2" [icon]="taskItem.status ? 'pi pi-thumbs-up' : 'pi pi-thumbs-down'" [value]="taskItem.status ? 'Validated' : 'To do'"
        [severity]="taskItem.status ? 'success' : 'warning'">

        </p-tag>
      </div>
    </div>

  </ng-template>
</p-virtualScroller>
