::ng-deep  {
  .virtual-scroller{
    .p-virtualscroller-header{
      display: flex;
      justify-content: space-between;
      padding: 0.25rem;
      flex-wrap: wrap;
    }

    .p-virtualscroller-item {
      text-align: center;
      margin: 0.5rem 0;
      height: max-content !important;
    }
  }

  .p-message{
    margin: 0;
  }

  .p-inline-message {
    width: 90%;
    border: 2px solid red;
    margin: 0.5rem auto;
  }
}

a{
  text-decoration: none;
}
